---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>nullhodo | Portfolio</title>
        <meta name="description" content="nullhodo's personal portfolio website." />
        <meta property="og:url" content="https://nullhodo.github.io/" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="nullhodo" />
        <meta
            property="og:image"
            content="https://nullhodo.github.io/assets/ogp.png"
        />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@nullhodo" />
        <meta name="twitter:creator" content="@nullhodo" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <h1>nullhodo's Portfolio</h1>
        <h2>About me</h2>
        <p>
            <span class="text-block">Developer / Creator.</span>
            <span class="text-block">I make generative art, interactive web applications,</span>
            <span class="text-block">and various other things.</span>
        </p>
        <h2>Artworks</h2>
        <p>
            <a href="/artworks/">View Gallery</a>
        </p>
        <h2>Socials</h2>
        <ul>
            <li>
                <a
                    href="https://x.com/nullhodo"
                    target="_blank"
                    rel="noopener noreferrer"
                    >X</a
                >
            </li>
            <li>
                <a
                    href="https://bsky.app/profile/nullhodo.bsky.social"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Bluesky</a
                >
            </li>
            <li>
                <a
                    href="https://fedibird.com/@nullhodo"
                    target="_blank"
                    rel="noopener noreferrer"
                    >fedibird</a
                >
            </li>
            <li>
                <a
                    href="https://github.com/nullhodo"
                    target="_blank"
                    rel="noopener noreferrer"
                    >GitHub</a
                >
            </li>
        </ul>
    </body>
</html>
